[package]
name = "query_analyzer"
version = "0.1.0"
authors = ["Alex Dukhno <alex.dukhno@icloud.com>"]
edition = "2018"
publish = false

[dependencies]
catalog = { path = "../catalog" }
data_definition_execution_plan = { path = "../data_definition/execution_plan" }
data_manipulation_untyped_queries = { path = "../data_manipulation/untyped_queries" }
data_manipulation_operators = { path = "../data_manipulation/operators" }
data_manipulation_untyped_tree = { path = "../data_manipulation/untyped_tree" }
definition = { path = "../entities/definition" }
query_ast = { path = "../../postgres/query_ast" }
query_response = { path = "../../postgres/query_response" }
types = { path = "../entities/types" }
storage = { path = "../../storage" }

bigdecimal = { version = "0.2.0", features = ["string-only"] }
log = "0.4.14"

[dev-dependencies]
simple_logger = { version = "1.10.0" }
data_definition_execution_plan = { path = "../data_definition/execution_plan" }
