/target
.idea
.vscode
**/__pycache__/
**/root_directory/**

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Erlang Rebar3 build and test logs directories
_build
erlang_client_logs
