# TODO: Below environment variables should be moved to a configuration file.

export RUST_LOG="debug"
export SECURE="ssl_only"
export PFX_CERTIFICATE_FILE="tests/fixtures/identity.pfx"
export PFX_CERTIFICATE_PASSWORD="password"
